<div id="<%= dom_id game %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= game.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= game.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Header color:</strong>
    <%= game.header_color %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Text color:</strong>
    <%= game.text_color %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Background color:</strong>
    <%= game.background_color %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start text:</strong>
    <%= game.start_text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">During text:</strong>
    <%= game.during_text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End text:</strong>
    <%= game.end_text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Admin:</strong>
    <%= game.admin_id %>
  </div>
</div>
